<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	<div class="row">
		<ul class="dynamic-grid" angular-grid="vm.myPins"
			grid-width="300" gutter-size="10" 
			refresh-on-img-load="false">
			<li data-ng-repeat="pin in vm.myPins" class="grid">
				<img ng-src="{{pin.imageUrl}}" alt="pinImage" class="grid-img" ng-error="vm.handleImageError(pin)">
				<p>{{pin.title}}</p>
				<p>{{pin.user}}</p>
				<span class="glyphicon glyphicon-remove" ng-click="vm.deletePin(pin)"></span>
			</li>
		</ul>
	</div>
</div>